<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./Partials/meta') %>
</head>
<body>
    <%- include('./Partials/header') %>
        <h1>
            Pagina Ecommerce
        </h1>
            <% products.forEach(product=>{ %>
             <h3> <%
                    product.name
                    product.id 
                  %> 
             </h3>   
           <% }) %>
</body>
</html>