 .head-img {
    max-width: 50px;
}
 
 a.nav-link font-nav{
    font-weight: bold;
    font-family:'Anton', serif;;
 }
 .font-head{
     font-weight: bold;
     font-family:'Ubuntu', serif;;
 }

.bg-grad{   
    background: linear-gradient(90deg, rgba(182,254,199,1) 42%, rgba(156,170,255,1) 63%);
}
 .menu
 {
    /* clear:both;
    float:left; */
    margin-top:1px;
    padding-bottom:1px; 
}
 
.menu li
 {
    display: inline-block;
    border: 1px solid black;
    box-shadow: 2px 2px 5px black;
    border-radius: 10px;
    margin-right:15px;
    background-color: #ffffff;
}
.menu li a:hover
 
 {
    color:#FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
  
}
.menu li:hover
 
 {
     
    border-radius: 10px;
    background-color: #009caaab;
     
}
  /* .menu li a
 
 {
    color:#FFFFFF;
    font-size: 1em;
    text-decoration: none;
    display: inline-block;
    padding: 0.7em 1em 0.7em 1em;
}   */
  .menu li.active a
 
 {
    color:#FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
}
.menu li.active
 
 {
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    background-color:  #009caaab;
    
}  

.navbar-brand{
    margin-right: 5px
}

@media (max-width: 768px) {
  
   .menu li a:hover
    {
    color:#FFFFFF;
    text-transform:initial;
    text-decoration: none;
  
    }
    .menu li:hover
    {    
        border-radius: 0px;
        background-color: #009caaab;
        
    } 
}